.task-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-wrap {
    background: blueviolet;
}
.task {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px black;
}
.back-btn a{
    float: right;
}
