<div class="kanban-header">
    <div class="container">
        <div class="kanban-inner-header">
            <div class="head-logo"><span>Kanban.</span></div>
            <div class="middle-nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="/dash">Project Dashboard</a></li>
                </ul>
            </div>
            <div class="right-nav">
                <div class="Login"><a href = "/login">Login</a></div>
                <div class="Login SignUp"><a href="/register">SignUp</a></div>
            </div>
        </div>
    </div>
</div>