<div class="partner">
    <div class="container">
        <h1 style="text-align: center;">Our Partners</h1>
        <div class="partner-row">
            <ul>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
                <li><a href="#"><img src ="assets/sam.png"width="150px"></a></li>
            </ul>
        </div>
    </div>
</div>