

<div class="team">>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-wrap-outer">
                <div class="text-wrap">
                    <div class="text-inr">
                        <div class="smallteam" style="color:#f47059">Lorem ipsum dolor sit</div>
                        <div class="bigteam">Lorem ipsum dolor sit</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptates maiores inventore porro rem expedita ab voluptate molestias quas nam maxime dolore, aliquam saepe.</p>
                    </div>
                    <div class="team-btn mt-3">
                        <a href ="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
