
<!-- <app-animationbackground></app-animationbackground> -->
<!-- 
<div class="banner">
    <div class="container">
        <div class="banner-text-wrap">
            <div class="banner-text">
                <div class="banner-title">KanBan Board</div>
                <div class="banner-detail">A kanban board is an agile project management tool designed to
                     help visualize work, limit work-in-progress, and maximize efficiency (or flow). </div>
                <div class="banner-btn">
                    <div class="banner-start back-btn" (click)="addtask()"><span class="btn-class">Add Task</span></div>
                    <div class="banner-start back-btn" (click)="viewtask()"><span class="btn-class">View Task</span></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-text-wrap">
                  <div class="banner-text-inner">
                    <div class="banner-stext">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <p class="banner-htext">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p style="color:grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis ratione corrupti quasi quos? Quas assumenda accusamus,
                         id deleniti similique repellat, quis asperiores quibusdam fugiat quidem nemo fugit animi tempore.</p>
                    <div class="sub-banner">
                        <div class="ban-cont">
                            <p>Lorem Ipsum dolor sit</p>
                            <div style = "font-size: 20px; font-weight: 500;">ns8143385@gmail.com</div>
                        </div>
                        <div class="sub-btn"><a href = "#">Submit</a></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img"><img src = "assets/contact.png" width="700px"></div>
            </div>
        </div>
    </div>
</div>