<div class="view">
    <div class="container">
        <div class="view-wrap-outer">
            <div class = "view-wrap">
                <div class="view-head">KanBan</div>
                <div class="view-dis">A Kanban board is a tool that provides a visual system for teams to 
                    manage project tasks, workflows and communication. Kanban boards can help streamline 
                    assignments and avoid overload since project managers 
                    can quickly reference exactly where each step in the process currently resides.</div>
                <div class="view-btn">
                    <div class="back-btn"><span class="btn-class">Pending</span></div>
                    <div class="back-btn"><span class="btn-class">Update</span></div>
                    <div class="back-btn"><span class="btn-class">Deleted</span></div>
                    <div class="back-btn"><span class="btn-class">completed</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
